 * {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body{
	height: 200vh;
}

.img{
    border-style: dashed;
    border-color:black ;
    border-radius: 30px;
}

.container {
    width: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.qr {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

button{
    height: 40px;
    width: fit-content;
    border: 20px;
    border-radius: 30px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    
    transition: all 300ms ease;
}

button:hover {
    transform: scale(1.1);
    background-image: linear-gradient(45deg, #831e7a, #6313ad, #146a8a, #138168);
	background-size: 400% 400%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
	animation: gradient 5s linear infinite;
}